<ion-content>
  <ion-grid fixed="true" style="background-color: red;">
    <ion-row class="ion-align-items-center" style="background-color: green;">
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Login</ion-card-title>
            <ion-card-content>
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
              <ion-button expand="block" shape="round">
                Login
              </ion-button>
              <ion-item>
                <ion-label>Ricorda Credenziali</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-card-content>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>