<ion-header>
  <ion-toolbar>
    <ion-title>Dettaglio Task</ion-title>
    <ion-button slot="end" fill="clear" (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{task.Name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>{{task.Description}}</ion-label>
      </ion-item>
      <ion-button disabled={{Bflag}} (click)="goToLead(task.LIT_AD_UserTo_ID)" expand="block" fill="clear">
        Vai al Lead
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
