<ion-header>
  <ion-toolbar>
    <ion-title>Log Eventi</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let l of logs">
      <ion-icon *ngIf="l.event == 'Call'" name="call-sharp"></ion-icon>
      <ion-icon *ngIf="l.event == 'Email'" name="mail-sharp"></ion-icon>
      &nbsp;
      <ion-label>{{l.client}}</ion-label>
      <p>{{l.data | date : 'short'}}</p>
    </ion-item>
  </ion-list>
</ion-content>
