<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dettagli lead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider>
      <ion-label>
        <h3>Nome</h3>
      </ion-label>      
    </ion-item-divider>
    <ion-item>
      asd
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <h3>Telefono</h3>
      </ion-label>      
    </ion-item-divider>
    <ion-item>
      asd
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <h3>Email</h3>
      </ion-label>      
    </ion-item-divider>
    <ion-item>
      asd
    </ion-item>
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="opzioniContatto()">
    Opzioni
  </ion-button>
</ion-footer>


