<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dettagli lead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <ion-list>
    <ion-item-divider>
      <ion-label>
        Nome
      </ion-label>
      <ion-item>
        {{lead.Name}}
      </ion-item>   
    </ion-item-divider>
    <ion-item-divider *ngIf="lead.Phone">
      <ion-label>
        Telefono
      </ion-label> 
      <ion-item>
        {{lead.Phone}}
      </ion-item>     
    </ion-item-divider>
    <ion-item-divider *ngIf="lead.EMail">
      <ion-label>
        Email
      </ion-label> 
      <ion-item>
        {{lead.EMail}}
      </ion-item>     
    </ion-item-divider>
  </ion-list>
  <app-log [id]='ComponentId'></app-log>
</ion-content>
<ion-footer>
  <ion-button expand="full" (click)="opzioniContatto()">
    Opzioni
  </ion-button>
</ion-footer>


