<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dettagli lead</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-divider>
      <ion-label>
        <h3>Nome</h3>
      </ion-label>      
    </ion-item-divider>
    <ion-item>
      {{lead.name}}
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <h3>Telefono</h3>
      </ion-label>      
    </ion-item-divider>
    <ion-item>
      {{lead.phone}}
    </ion-item>
    <ion-item-divider>
      <ion-label>
        <h3>Telefono</h3>
      </ion-label>      
    </ion-item-divider>
    <ion-item>
      {{lead.email}}
    </ion-item>
    <ion-button expand="block" (click)="opzioniContatto()">
      Opzioni
    </ion-button>
  

</ion-content>
