<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fornitori e Clienti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let s of list" button (click)="leadDet(s.ad_user_id)">
      <ion-card-header>
        <ion-card-subtitle>{{s.name}}</ion-card-subtitle>
        <ion-card-title>{{s.bpartnername}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
